################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/Tasks/submit-signing-request/node_modules
/**/package-lock.json
/Tasks/**/*.js
!/**/dist/*.js
